#container {
    width: 60%;
    margin: 0 auto;
    padding: 0 10px;
}

.main-image {
    height: auto;
    width: 350px;
}

li .main-image {
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}